<template>
  <div id="app">
    {{ msg }}

    <div id="stage-parent">
      <v-stage :config="configKonva" id="stage">
        <v-layer>
          <v-rect :config="configRect"></v-rect>
        </v-layer>
      </v-stage>
    </div>
    <label
      >width
      <input v-model="configRect.width" />
    </label>
    <label
      >height
      <input v-model="configRect.height" />
    </label>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      isKeyDown: {
        ArrowLeft: false,
        ArrowRight: false,
        ArrowUp: false,
        ArrowDown: false
      },
      configKonva: {
        width: 800,
        height: 600
      },
      configRect: {
        x: 100,
        y: 600 - 70,
        width: 70,
        height: 70,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 1
      },
      fallingSpeed: 0
    }
  },
  mounted () {
    this.fitStageIntoParentContainer()
  },
  created () {
    window.addEventListener('resize', this.fitStageIntoParentContainer)
    window.addEventListener('keydown', (e) => {
      if (this.isKeyDown.hasOwnProperty(e.key)) {
        this.isKeyDown[e.key] = true
        e.preventDefault()
      }
    })
    window.addEventListener('keyup', (e) => {
      if (this.isKeyDown.hasOwnProperty(e.key)) {
        this.isKeyDown[e.key] = false
        e.preventDefault()
      }
    })
    setInterval(this.rerender, 1)
  },
  methods: {
    fitStageIntoParentContainer () {
      var container = document.querySelector('#stage-parent')
      this.configKonva.width = container.offsetWidth
    },
    rerender () {
      let delta = 2
      if (
        this.isKeyDown['ArrowRight'] &&
        this.configRect.x < this.configKonva.width - this.configRect.width - 2
      ) {
        this.configRect.x += delta
      }
      if (this.isKeyDown['ArrowLeft'] && this.configRect.x > 0) {
        this.configRect.x -= delta
      }
      if (this.isKeyDown['ArrowUp']) {
        if (this.configRect.y > 0) {
          this.configRect.y -= delta
        }
      } else if (
        this.configRect.y <
        this.configKonva.height - this.configRect.height
      ) {
        if (this.fallingSpeed < 10 * delta) {
          this.fallingSpeed += delta / 10
        }
        this.configRect.y = Math.min(
          this.configRect.y + this.fallingSpeed,
          this.configKonva.height - this.configRect.height
        )
      }
      if (
        this.isKeyDown['ArrowUp'] ||
        this.configRect.y >= this.configKonva.height - this.configRect.height
      ) {
        this.fallingSpeed = 0
      }
    }
  }
}
</script>

<style>
#stage-parent {
  width: 100%;
}
#stage {
  border: solid 1px black;
}
</style>
